<style>
  .col-md-8 {
        border: 1px solid lightgray;
        padding: 30px;
        border-radius: 3px;
    }
</style>
<div class = "container">
    <div class = "col-md-8" style="margin : 0 auto">
        <img src="img/aboutlogo.jpg" class = "float-right">
        <h3>About</h3>
        Travol Heo started his game development carrer in 2013 as a Project Manager of small 2D Game in high school.
        But his real carrier began in 2015, as he lead the project as a lead programmer, and also a project leader when He was developing <a href= "https://youtu.be/qXclzUS7Chk">Left 2 Dead</a>
        Blah Blah Blah...
        <br>
        logo is from https://dribbble.com/shots/2189205-Doggy
        </div>
</div>