<style>
    .jumbotron {
        height: 440px;
        background-image: url("img/frontpageblack.png");
        background-repeat: no-repeat;
        background-size: cover;
    }

    #linktopost {
        color: white;
    }
</style>

<div class="container">
    <a href="/about" id = "linktopost">
        <div class="jumbotron">
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
                <h3>Project Z World</h3>
                <p>Project z world is a open world zombie survivor game template that can help you start your own survival like game quickly
                    and easily.
                </p>
    </div>
    </a>
</div>