<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, world!
                <small>WhiteDog's house. </small>
            </h1>
            <p>Welcome to my humble home, friend! </p>
            <p>
                <a class="btn btn-primary btn-lg">Learn more</a>
            </p>
        </div>
    </div>
</div>