<h2>Show Post</h2>
<script src="/vendor/string-to-html.js"></script>
<script>import toHtml from'string-to-html';
</script>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Title</th>
            </tr>
        </thead>
    {{#each datas}}        
        <tr>
            <td>{{math @index "+" 1}}</td>
            <td> {{title}}</td>
            <td class = "content">{{{content}}}</td>
        </tr>
{{/each}}
    </table>
</div>