<h2>Show Post</h2>


<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Title</th>
            </tr>
        </thead>
    {{#each datas}}        
        <tr>
            <td>1</td>
            <td> {{title}}</td>
        </tr>
{{/each}}
    </table>
</div>