<h2>Write Post</h2>
{{! tr은 한 low를 의미}}
{{! form에다가 CSS 적용}}
<style>
    form {
        /*가운데 정렬*/
        margin : 0 auto;
        width : 1080px;
        /*패딩에 아웃라인*/
        padding:1em;
        border: 1px solid #CCC;
        border-radius : 1em;
    }
    /*위젯 사이 사이 공백*/
    form div + div{
            margin-top : 1em;
    }
    input,textarea{
        font : 1em sans-serif;

        width:800px;
        -moz-box-sizing:  border-box;
        box-sizing : border-box;

        border:1px solid #999;
    }

    input:focus, textarea:focus{
        border-color:#000
    }
    textarea{
        vertical-align: :top;
        height:35em;
        resize:vertical;
    }
.button{
}
button{
}
</style>

{{! HTML 폼은 브라우저와 서버의 통신하는 거}}
<form action = '/upload' method = "post">
<div>
  {{!<label for="title">Title:</label>}} 
{{! 서버와 데이터를 주고 받을때, 데이터 이름 지정은 name으로 한다.}}
    <input type="text" placeholder = "Title" id="title" name="post_title"/>
</div>
<div>
    {{!<label for="post">Post:</label>}}
    <textarea id="content" placeholder="Write Post Here" name ="post_content"></textarea>
</div>
<div class ="button">
    <button type="submit">Upload Post</button>
</div>
</form>
