<!-- include summernote css/js-->
<!-- 애네 나중에 내폴더로 옮기자, 속도때매-->
<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.8/summernote.js"></script>
<!-- 비디오 속성 플러그인-->
<script src="vendor/summernote-video-attributes.js"></script> {{! HTML 폼은 브라우저와 서버의 통신하는 거}}
<div class="container">
    <form action='/upload' method="post">
      <!-- 제목-->
      <div class="form-group">
        <div>
          <input type="text" class="form-control input-lg" placeholder="Title" name="post_title" autocomplete=off>
        </div>
      </div>
      <!-- 썸머노트-->
      <!-- 글꼴이 하나만 떠오르는 문제 해결해야함.-->
      <textarea id="summernote" name="post_content"> </textarea>
      <script>
        $('#summernote').summernote({
          toolbar: [
            ['style', ['bold', 'italic', 'underline', 'clear', 'fontname']],
            ['font', ['strikethrough', 'superscript', 'subscript']],
            ['fontsize', ['fontsize']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            ['insert', ['videoAttributes', 'media', 'link', 'hr']],
          ],
          placeholder: 'write here...',
          height: 500,
        });
      </script>
      <br>
      <div class="button">
        <button type="submit" class="btn btn-primary">Upload Post</button>
</div>
    </form>
  </div>